body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 40px;
}

section{
    display: flex;
    margin-top: 100px;
}
.flexible-section{
  
        display: flex;
        margin-top: 100px;
        
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;

}
.rana{
    color: #FFA500;
}
.linke-buuton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 8px 25px;
    border-radius: 5%;
    color: white;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.demo{
    width: 40%;
   padding: 5%;
   margin-left: 5%;
   margin-right: 5%;
   box-shadow: 10px 30px 50px gray;
   

}
.border-1{
    border-left: 5px solid tomato;
}
.border-2{
    border-left: 5px solid blue;
}
footer p{
    text-align: center;
}